# Data Features 
## Introduction
Given a dataset of $M$ variables and $N$ dataset points, a feature is one of the **independent** variables in a dataset and also called as a **predictor**. Generally the input to a machine learning program is a column of a tabular dataset where each row (of $N$ rows) is a dataset point in $M$ dimensional space.

In our Jupyter notebooks we will use the matrix $X_{N \times M}$ as the dataset symbol without the dependent variable (also called the label, category, class, predicted variable) and we will store the dependent variable in the vector $y_{N \times 1}$.

$X$ is a matrix. It's rows are data points and it's columns are the features. All classifiers in `scikit-learn` can understand this data format which is based on numpy 2-dimensional arrays. Thus for each input data point we have $x \in \mathbb{R}^{M}$, and we have $N$ data points to be used in our ML pipelines. We also have $y \in \mathbb{Z}$ in general as the category. As an example, if we have __$K$__ categories, then $y \in\{k: 0 \leq k \leq K, k \in \mathbb{Z}\}$

__Example:__ In the following $X$ matrix we have 3 features and 5 data points, i.e. $M=3$  and $N=5$. We also have 5 values for dependent variable $y$.

$X=\left[\begin{array}{lll}x_{11} & x_{12} & x_{13} \\ x_{21} & x_{22} & x_{23} \\ x_{31} & x_{32} & x_{33} \\ x_{41} & x_{42} & x_{43} \\ x_{51} & x_{52} & x_{53}\end{array}\right], y=\left[\begin{array}{l}y_{1} \\ y_{2} \\ y_{3} \\ y_{4} \\ y_{5}\end{array}\right]$

Such that in practice, $X=\left[\begin{array}{ccc}4.9 & 3 . & 1.4 \\ 4.7 & 3.2 & 1.3 \\ 4.6 & 3.1 & 1.5 \\ 5 . & 3.6 & 1.4 \\ 5.4 & 3.9 & 1.7\end{array}\right], y=\left[\begin{array}{l}1 \\ 0 \\ 0 \\ 1 \\ 2\end{array}\right]$

where the dependent variable $y$ has levels from the alphabet $\Sigma=\{0,1,2\}$, i.e. there are 3 categories in the given dataset.

The predicted variable or label is the __dependent__ variable and it is dependent on the __independent__ variables or features. This amount of dependence can be sometimes high and sometimes very low depending on the dataset or the nature of the problem (again, dataset expresses this). If there is no correlation (or fully independent), then the dataset may not be suitable for the problem at hand and/or we may have to remove that feature from the dataset.

As an example, for numerical variables, the Pearson correlation coefficient of two variables $x$ (lower case x, a feature) and $y$ is defined as:

$r_{x y}=\frac{\sum_{i=1}^{N}\left(x_{i}-\bar{x}\right)\left(y_{i}-\bar{y}\right)}{\sqrt{\sum_{i=1}^{N}\left(x_{i}-\bar{x}\right)^{2}} \sqrt{\sum_{i=1}^{N}\left(y_{i}-\bar{y}\right)^{2}}}$, where $\bar{x}$ and $\bar{y}$ are sample means.

Ideally, we need a good correlation (close to 1 or -1) between the independent and dependent (predicted) variables so our ML model would actually work.

__Question:__ Can correlation coefficient be used for determining important features for the machine learning model?

## Data types
* Numerical - Can be integer $\mathbb{Z}$ or floating point $\mathbb{R}$. Generally it is safe to convert all numerical variables to floating point variables.
* Nominal - The variable values are drawn from a finite set of __levels__ or from an alphabet $\Sigma$.
* Binary - The variable values can be either `0` or `1` (or, `False` or `True`). Some algorithms work fast on this kind of values, especially constrained optimization related methods.
* String - May not be used directly unless the ML program (preprocessing) knows how to deal with it
* Date - May not be used directly unless the ML program (preprocessing) knows how to deal with it. It might be a good idea to convert (or map) dates to some integer numbers - for example, Excel handles dates in this manner.
* More complicated features, e.g. a DNA sequence (sequence of {A,C,G,T} letters) - Other, simpler, features need to be extracted from the input sequence so that this higher-level feature can be used in an ML program.

## Nominal to Numerical Conversion
One possible way of converting nominal variables to numerical is one-hot encoding:

1. During preprocessing count the number of levels in the set of possible levels a nominal variable $v_{nom}$ takes. Such as, $L$ different levels, $k=1, \ldots, L$.
2. Create $L$ binary variables for that nominal variable $v_{nom}$  where each row will have a binary zero for $L-1$ binary variables except for the $j^{th}$ level which corresponds to the level-j when $v_{nom}$ takes a value of level-j.

Following above procedure, a nominal variable with a cardinality of $L$ results in $L$ many binary variable creation (and dropping the original nominal variable itself). In other words, each unique level of that nominal variable is mapped to a binary variable. Note that, for the sake of this representation, storage space is wasted.

Also observe that the one-hot encoded variables are like unit vectors of linear algebra.

Conversion of nominal variables to numerical is an important step for many numerical-only classifiers, such as neural networks, support vector machines, and linear regression.

### Example One-hot Encoding
The nominal variable $T$ take levels from the $\Sigma=\{$ low, medium, high $\}$. Numerical conversion involves each unique level being mapped to one of the $T_i$ binary vectors.

| __Nominal Variable $T$__  | $T_0$ | $T_1$ | $T_2$ |
|---------------------------|-------|-------|-------|
| low                       | 1     | 0     | 0     |
| medium                    | 0     | 1     | 0     |         
| low                       | 1     | 0     | 0     |
| high                      | 0     | 0     | 1     |
| high                      | 0     | 0     | 1     |
| low                       | 1     | 0     | 0     |

## Numerical to Nominal Conversion
Generally, histograms, binning and bin boundaries are used to group numerical values into levels or one-hot encoded variables.

## Online Dataset Sources
The UCI KDD online repository has various datasets which can be used for analysis, machine learning and several application fields, such as GIS, cybersecurity, NLP, etc. The origin of some datasets go back to more than 20 years sourced from competitions, challenges, grants, etc. Researchers and students use these datasets and share their experiences using a common platform.  
Source: UCI Knowledge Discovery in Databases Archive http://kdd.ics.uci.edu/

**Kaggle** data repository has various datasets which are used for Kaggle competitions. The web site also has tools to examine the features on-site. This source is one of the largest.
Go to the Kaggle dataset source: https://www.kaggle.com/datasets

**KDnuggets** is another web page which encompasses almost everything (posts, news, datasets, tutorials, forums, webinars, software, etc.) that is relevant to machine learning and data analysis.
Source: KDnuggets Datasets for Data Mining and https://www.kdnuggets.com/datasets/index.html

The rest of the notebook will demonstrate three different datasets from these repositories.

* UCI KDD archive  →  1990 US Census data
* Kaggle  →  Graduate Admissions data
* Kaggle  →  The Human Freedom Index data

Download the data files from UCI KDD web site and Kaggle web site (by registering to Kaggle -using a disposable email address- if necessary).

**Important Note:** About physical dataset file shared among teams. Comparing machine learning models, and measuring performances for model selection is heavily dependent on the input dataset. Thus, if a comparison between models and a comparison among different experiments or teams results are at hand, then the dataset shared among teams or different set of experiments must be exactly the same dataset. Moreover, to ensure the validity, the exact same file should be shared among multiple teams or between different models pipelines.

---

*WATCH THE LECTURE* for downloading files from online sources.

---

In the following cells we use the downloaded and previously cleaned data files:

* `USCensus1990.data.csv`
* `Admission_Predict.csv`
* `hfi_cc_2018_cleaned.csv`

Note that there are two dataset cleaning tasks before a machine learning model development can begin:

* Cleaning the data so the framework understands the data right, i.e. formatting, removing confusing symbols, quotes, etc.
* Cleaning (preprocessing) the data to improve the ML task, i.e. imputing values, removing outliers, removing incorrect dataset values, deriving variables, selecting variables, etc.

Both cleaning steps are crucial in preparing the dataset for model development.

__Quote:__ "As data scientists, our job is to extract signal from noise." (ref: KDnuggets)

---

Let's see what our data files contain:

In [2]:
import pandas as pd

# Locate and load the data file
df = pd.read_csv('datasets/USCensus1990.data.csv')

# Sanity check
print(f'N rows={len(df)}, M columns={len(df.columns)}')
df.head()

N rows=30640, M columns=1

/Users/josephcrandall/.pyenv/versions/3.7.3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Table 1
caseid dAge dAncstry1 dAncstry2 iAvail iCitizen iClass dDepart iDisabl1 iDisabl2 iEnglish iFeb55 iFertil dHispanic dHour89 dHours iImmigr dIncome1 dIncome2 dIncome3 dIncome4 dIncome5 dIncome6 dIncome7 dIncome8 dIndustry iKorean iLang1 iLooking iMarital iMay75880 iMeans iMilitary iMobility iMobillim dOccup iOthrserv iPerscare dPOB dPoverty dPwgt1 iRagechld dRearning iRelat1 iRelat2 iRemplpar iRiders iRlabor iRownchld dRpincome iRPOB iRrelchld iRspouse iRvetserv iSchool iSept80 iSex iSubfam1 iSubfam2 iTmpabsnt dTravtime iVietnam dWeek89 iWork89 iWorklwk iWWII iYearsch iYearwrk  dYrsserv
10000  5    0         1         0      0        5      3       2        2        1        0      1       0         4       3      0       2        0        0        1        0        0        0        0        10        0       1      0        1        0         1      4         2         2         3      0         2         0    2        1      4         3         0       0       0         3       1       0         3         22    0         3        0         1       0       1    0        0        0         5         0        2       1       1        0     11       1                0
10001  6    1         1         0      0        7      5       2        2        0        0      3       0         1       1      0       1        0        0        0        0        1        0        0        4         0       2      0        0        0         1      4         1         2         2      0         2         0    2        2      4         2         1       0       0         1       1       0         2         10    0         1        0         1       0       1    0        0        0         1         0        2       1       1        0     5        1                0
10002  3    1         2         0      0        7      4       2        2        0        0      1       0         4       4      0       1        0        1        0        0        0        0        0        1         0       2      0        4        0         10     4         1         2         4      0         2         0    2        1      4         2         2       0       0         0       1       0         2         10    0         6        0         1       0       1    0        0        0         2         0        2       1       1        0     10       1                0
10003  4    1         2         0      0        1      3       2        2        0        0      3       0         3       3      0       1        0        0        0        0        0        0        1        4         0       2      0        2        0         1      4         1         2         2      0         2         0    2        1      2         2         0       0       0         1       1       0         2         10    0         4        0         1       0       1    0        0        0         1         0        1       1       1        0     10       1                0

In [3]:
# Locate and load the data file
df = pd.read_csv('datasets/Admission_Predict_Ver1.1.csv')

# Sanity check
print(f'N rows={len(df)}, M columns={len(df.columns)}')
df.head()

N rows=500, M columns=9

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
# Locate and load the data file
df = pd.read_csv('../datasets/hfi_cc_2018.csv')

# Sanity check
print(f'N rows={len(df)}, M columns={len(df.columns)}')
df.head()

N rows=1458, M columns=123

,year,ISO_code,countries,region,pf_rol_procedural,pf_rol_civil,pf_rol_criminal,pf_rol,pf_ss_homicide,pf_ss_disappearances_disap,...,ef_regulation_business_bribes,ef_regulation_business_licensing,ef_regulation_business_compliance,ef_regulation_business,ef_regulation,ef_score,ef_rank,hf_score,hf_rank,hf_quartile
0,2016,ALB,Albania,Eastern Europe,6.661503,4.547244,4.666508,5.291752,8.920429,10.0,...,4.050196,7.324582,7.074366,6.705863,6.906901,7.54,34.0,7.568140,48.0,2.0
1,2016,DZA,Algeria,Middle East & North Africa,NaN,NaN,NaN,3.819566,9.456254,10.0,...,3.765515,8.523503,7.029528,5.676956,5.268992,4.99,159.0,5.135886,155.0,4.0
2,2016,AGO,Angola,Sub-Saharan Africa,NaN,NaN,NaN,3.451814,8.060260,5.0,...,1.945540,8.096776,6.782923,4.930271,5.518500,5.17,155.0,5.640662,142.0,4.0
3,2016,ARG,Argentina,Latin America & the Caribbean,7.098483,5.791960,4.343930,5.744791,7.622974,10.0,...,3.260044,5.253411,6.508295,5.535831,5.369019,4.84,160.0,6.469848,107.0,3.0
4,2016,ARM,Armenia,Caucasus & Central Asia,NaN,NaN,NaN,5.003205,8.808750,10.0,...,4.575152,9.319612,6.491481,6.797530,7.378069,7.57,29.0,7.241402,57.0,2.0

## The Human Freedom Index Dataset¶
Opening the hfi_cc_2018 CSV data file in Weka is tricky as it needs two modifications as in below:

* Using a text editor, change the value "d'Ivoire" to "dIvoire" by removing the single quote. The single quote is used by Weka to mark nominal variables.
* Using a text editor add single quotes to the feature name region to mark it as nominal. Weka wants to see single quotes in the variable name (in the header) to be able to load the type of the variables correctly.


This particular example shows that data mining, machine learning frameworks such as Weka have their own standards that the model developer has to pay attention.

## Weka Framework

Weka is a data analytics framework (open-source, Java based) with very strong ML and data mining abilities. To install:

1. Download and install 64-bit Java JRE https://www.java.com/en/download/
2. Download Weka Linux distro zip file from https://www.cs.waikato.ac.nz/ml/weka/downloading.html

and extract the zip to C:\weka on your computer's local disk. Use Windows command prompt:

1. Check the version of Java: java -version so that make sure the java on the path is reflected to the one downloaded.
2. On a command prompt, run java -Xmx8g -jar c:\weka\weka.jar (8GB heap space to be used for big data files - make sure your computer supports, or adjust this value)

WATCH THE RELATED LECTURE for opening, using Weka, preprocessing and running Random Forest classifier.

## Graduate Admissions Dataset

Let's open the data file Admission_Predict.csv in Weka. Click on Explorer and open the CSV file with Open File button. We need a dependent variable to predict or do something with it. Let's pick A9 - Chance of Admit (A_XX is the attribute which starts from index 1). We need to convert this variable to a categorical variable.

1. In Filter, AddExpression -E "ifelse (A9 > 0.9, 1, 0)" -N Admit then press Apply
2. In Filter, NumericToNominal -R last
3. In Filter, RenameNominalValues -R last -N "0:No, 1:Yes"

After preprocessing pick the RandomForest (RF) classifier from Classifier-Trees-RandomForest. Run it with 10-fold cross validation, with Start button. Observe the outcome

**Question:** Why do you think RF model performance results 100%?

Now remove the variable "Serial No." (Why useless?) and remove "Chance of Admit" variable (Remove button down below). Remember we categorized it to the variable named "Admit".

**Question:** Why do you think RF model performance is less than 100% now?

---

Student: Below cell can be safely ignored. This is the code to display markdown tables left oriented in this notebook.

In [4]:
%%html
<style>
    table {margin-left: 0 !important;}
</style>