We will develop a classifier to predict if a passenger from Titanic survived or not. Go to Kaggle
web site https://www.kaggle.com/c/titanic/overview and download the training and testing data
sets. (Verification: 891 data points for training and 418 data points for testing datasets)

(a.) [50 pts] Preprocess the data, impute missing values as you see fit, and remove features
that you see useless.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv('datasets/a2/train.csv')
print(df_train.shape)
df_test = pd.read_csv('datasets/a2/test.csv')
print(df_test.shape)
df_g = pd.read_csv('datasets/a2/gender_submission.csv')
print(df_g.shape)

(891, 12)
(418, 11)
(418, 2)

In [3]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [16]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [21]:
df_train = pd.read_csv('datasets/a2/train.csv')
df_train = df_train.dropna()
df_train = df_train.drop(columns=['Name','Ticket','Cabin','PassengerId'])
df_train = pd.get_dummies(df_train,columns=['Sex','Embarked'])
df_train

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
6,0,1,54.0,0,0,51.8625,0,1,0,0,1
10,1,3,4.0,1,1,16.7000,1,0,0,0,1
11,1,1,58.0,0,0,26.5500,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,47.0,1,1,52.5542,1,0,0,0,1
872,0,1,33.0,0,0,5.0000,0,1,0,0,1
879,1,1,56.0,0,1,83.1583,1,0,1,0,0
887,1,1,19.0,0,0,30.0000,1,0,0,0,1
889,1,1,26.0,0,0,30.0000,0,1,1,0,0

In [35]:
df_train = pd.read_csv('datasets/a2/train.csv')
print(df_train.shape)
print(df_train.isnull().sum().sum())
df_train = df_train.dropna()
df_train = df_train.drop(columns=['Name','Ticket','Cabin','PassengerId'])
df_train = pd.get_dummies(df_train,columns=['Sex','Embarked'])
rfc = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=None, n_jobs=4)
X_train = df_train.loc[:, df_train.columns != 'Survived'].values
y_train = df_train.loc[:, df_train.columns == 'Survived'].values.ravel()
rfc.fit(X_train, y_train)

(891, 12)
866

RandomForestClassifier(max_depth=5, n_estimators=200, n_jobs=4)

In [46]:
df_test = pd.read_csv('datasets/a2/test.csv')
print(df_test.shape)
print(df_test.isnull().sum().sum())
df_test = df_test.drop(columns=['Name','Ticket','Cabin','PassengerId'])
df_test = pd.get_dummies(df_test,columns=['Sex','Embarked'])
df_test

(418, 11)
414

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0,1,0,1,0
1,3,47.0,1,0,7.0000,1,0,0,0,1
2,2,62.0,0,0,9.6875,0,1,0,1,0
3,3,27.0,0,0,8.6625,0,1,0,0,1
4,3,22.0,1,1,12.2875,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
413,3,NaN,0,0,8.0500,0,1,0,0,1
414,1,39.0,0,0,108.9000,1,0,1,0,0
415,3,38.5,0,0,7.2500,0,1,0,0,1
416,3,NaN,0,0,8.0500,0,1,0,0,1
417,3,NaN,1,1,22.3583,0,1,1,0,0

Replaceing NaN values with mean

In [47]:
df_test['Pclass'].isnull().sum()

0

In [48]:
print(df_test['Age'].isnull().sum())
df_test['Age'] = df_test['Age'].fillna(df_test['Age'].mean())
df_test['Age'].isnull().sum()

86

0

In [49]:
df_test['SibSp'].isnull().sum()

0

In [50]:
df_test['Parch'].isnull().sum()

0

In [51]:
df_test['Fare'].isnull().sum()

1

In [52]:
df_test['Fare'] = df_test['Fare'].fillna(df_test['Fare'].mean())
df_test['Fare'].isnull().sum()

0

In [57]:
y_pred = rfc.predict(df_test)
print(y_pred)

[0 0 0 0 1 1 0 1 0 1 1 0 1 0 1 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 1 1 1 1 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 0 1 0 0 0 1
 1 1 1 1 1 0 1 0 0 1 0 1 1 1 0 1 1 0 1 1 1 0 1 1 1 1 1 1 0 0 0 1 0 0 1 1 0
 0 1 0 1 1 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0 1 0 1 0 0
 1 1 1 0 0 1 1 0 1 0 0 1 0 1 1 0 0 1 0 1 1 0 0 0 1 0 0 1 1 1 1 1 1 1 1 0 1
 0 1 1 1 0 1 1 1 0 1 1 1 0 1 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 0 0 0 0 1 1 1 0
 1 0 1 1 0 0 0 1 1 1 0 0 1 0 0 0 1 1 1 1 0 1 1 0 1 1 1 1 1 0 1 0 1 0 0 0 1
 0 1 0 1 1 0 1 0 0 0 1 0 0 1 1 0 1 1 1 1 1 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 0
 1 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 1 0 1 0 0 1 1 1 0 1 0 1 1 1 0 0
 1 0 1 1 0 1 0 1 0 1 1 1 0 1 0 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1
 1 1 0 0 1 1 0 1 0 1 0 0 1 1 1 1 0 0 0 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 1 1
 0 0 1 0 1 0 1 1 0 1 1]

In [73]:
def save_preds(_fn, _y_pred, _df):
    import csv
    with open(_fn, 'w') as fout:
        writer = csv.writer(fout, delimiter=',', lineterminator='\n')
        writer.writerow(['PassengerId','Survived'])
        for passengerId, y in zip(_df['PassengerId'], _y_pred):
            writer.writerow([passengerId, y])

In [74]:
df_test = pd.read_csv('datasets/a2/test.csv')
save_preds('datasets/a2/predictions_jwcrandall.csv', y_pred, df_test)

# Old Code Below

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split

# We will reuse the classifier function below
def rf_train_test(_X_tr, _X_ts, _y_tr, _y_ts):
    # Create a new random forest classifier, with working 4 parallel cores
    rf = RandomForestClassifier(n_estimators=200, max_depth=5, random_state=None, n_jobs=4)
    # Train on training data
    model = rf.fit(_X_tr, _y_tr)
    # Test on training data
    y_pred = rf.predict(_X_ts)
    # Return accuracy
    return accuracy_score(_y_ts, y_pred)

In [10]:
# Prepare the input X matrix and target y vector
X = df_train.loc[:, df_train.columns != 'Survived'].values
y = df_train.loc[:, df_train.columns == 'Survived'].values.ravel()

In [11]:
# Sanity check
print(y[:10])

[1 1 0 1 1 1 1 0 1 0]

In [12]:
# 80% split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=None)
rf_train_test(X_train, X_test, y_train, y_test)

0.7837837837837838

In [13]:
# Run 10 times
for i in range(10):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=None)
    print(rf_train_test(X_train, X_test, y_train, y_test))

0.6756756756756757
0.6756756756756757
0.7567567567567568
0.7297297297297297
0.6216216216216216
0.7297297297297297
0.7567567567567568
0.7297297297297297
0.6756756756756757
0.6486486486486487

In [14]:
%%time
# Run 100 times and collect statistics
accuracies = []
for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=None)
    accuracies += [rf_train_test(X_train, X_test, y_train, y_test)]
#
print(f'80% train-test split accuracy is {np.mean(accuracies):.3f} {chr(177)}{np.std(accuracies):.4f}')

80% train-test split accuracy is 0.740 Â±0.0694
CPU times: user 24.7 s, sys: 5.17 s, total: 29.8 s
Wall time: 37.9 s

(b.) [50 pts] Submit your predictions to Kaggle for the test dataset and report your accuracy in
your submission. (You will need an account at Kaggle â€“ use a dummy email address to
protect your school/work email address, etc.) For Your Info, I achieved 79% using my
preprocessing pipeline and a Random Forest classifier. Which is not the best as in Kaggle
there are better results. Kaggle also has some results with 100% accuracy which cannot be
taken as honest submissions in my opinion.

![title](img/kaggle_submission_1.png)

I used the following code to export the predictions for Kaggle:

Note that \_df has to have the 'PassengerId' which I did not use for the classification.